/*

COLORS:

light green: #7ed56f;
medium green: #55c57a;
dark green: #27b485;

*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
}
.header{
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)), url(../images/hero.jpeg);
    background-size: cover;
    background-position: top;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
.header__logo{
    height: 3.5rem;
    color: #fff;
}
.header__logo-box{
    position: absolute;
    left: 4rem;
    top: 4rem;
}
.header__text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.heading-primary{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 6rem;

    backface-visibility: hidden;
}
.heading-primary--main{
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;

    /* animation-timing-function: ease-in;
    animation-iteration-count: 3;
    animation-delay: 3s; */
}
.heading-primary--sub{
    display: block;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1.7rem;

    animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    80%{
        transform: translateX(1rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    80%{
        transform: translateX(1rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInbottom {
    0%{
        opacity: 0;
        transform: translateY(3rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.btn:link,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
}
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, .2);
}
.btn:active{
    transform: translateY(-1px);
}
.btn--white{
    background-color: #fff;
    color: #777;
}
.btn::after{
    content: '';
    height: 100%;
    width: 100%;
    display: inline-block;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
.btn--white::after{
    background-color: #fff;
}
.btn:hover::after{
    transform: scaleX(1.4) scaleY(1.4);
    opacity: 0;
}
.btn--animated{
    animation: moveInbottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}